.kanban-container {
  display: flex;
  overflow-x: auto;
  height: 100%;
}

.kanban-column {
  flex: 0 0 33.33%; /* Ajusta el ancho para que se vean las primeras tres columnas */
  min-width: 200px; /* Ajusta este valor según sea necesario */
  display: flex;
  flex-direction: column;
}

.kanban-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid #ddd;
  padding: 7.5px;
  text-align: center;
  font-weight: bold;
}

.kanban-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
}


/* SPINNER */
.loader {
  display: block;
  position: relative;
  height: 12px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.loader::after {
  content: "";
  width: 40%;
  height: 100%;
  background: #9FA6B2;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
